In [1]:
import pandas as pd

filename = "adult.data.txt"

columns = [
    "age","workclass","fnlwgt","education","education_num",
    "marital_status","occupation","relationship","race","sex",
    "capital_gain","capital_loss","hours_per_week","native_country","income"
]

df = pd.read_csv(filename, header=None, names=columns, sep=",", skipinitialspace=True)

df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
# Clean income labels (remove periods)
df["income"] = df["income"].str.replace(".", "", regex=False)

# Replace '?' with proper missing values
df = df.replace("?", pd.NA)

# Save spreadsheet versions
df.to_csv("adult_clean.csv", index=False)
df.to_excel("adult_clean.xlsx", index=False)

df.shape   # optional: shows dimensions of the dataset

(32561, 15)

In [8]:
import bz2

# Decompress training file
with bz2.open("mnist.scale.bz2", "rb") as f_in:
    with open("mnist.scale", "wb") as f_out:
        f_out.write(f_in.read())

# Decompress test file
with bz2.open("mnist.scale.t.bz2", "rb") as f_in:
    with open("mnist.scale.t", "wb") as f_out:
        f_out.write(f_in.read())

In [9]:
from sklearn.datasets import load_svmlight_file
import pandas as pd

X_train, y_train = load_svmlight_file("mnist.scale")

X = X_train.toarray()
df_mnist = pd.DataFrame(X)
df_mnist.insert(0, "label", y_train.astype(int))

df_mnist.head()

,label,0,1,2,3,4,5,6,7,8,...,770,771,772,773,774,775,776,777,778,779
0,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_mnist.to_csv("mnist_clean.csv", index=False)
df_mnist.to_excel("mnist_clean.xlsx", index=False)